.App {
  text-align: center;
  background-color: #f1f1f1;
}
.container{
  margin: 0 auto;
  width:1170px;
}
.results{
  color: rgba(0, 0, 0, 0.774);
  margin-right: 10px;
  font-size: 13px;
}
.side{
  width:25%
}
.main{
  padding-top: 10px;
  width:75%;
  margin-left:20%;
  background-color: white;
}
@keyframes slide_up {
  0%{
    transform: translateY(600px)
  }
  100%{
    transform: translateY(0)
  }
}
.cards{
  animation: slide_up 4s ease
}

/* ----------- */
.searchContainer{
  margin-bottom: 10px;
}

.searchContainer input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid lightgray;
}

.searchContainer .sb {
  padding: 4px 10px 8px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchContainer .sb:hover {
  background: #ccc;
}


/* --------------- */
